* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header nav {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
}

.logo h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Menu toggle styles */
.menu-toggle {
    display: inline-block;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: transform 0.3s ease;
}

/* Animasi ketika di-klik */
#toggle-menu:checked + .menu-toggle span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#toggle-menu:checked + .menu-toggle span:nth-child(2) {
    opacity: 0;
}

#toggle-menu:checked + .menu-toggle span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Menu dropdown content */
.dropdown-content {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.column a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

/* Main styles */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    display: flex;
    justify-content: center;
}

.hobby-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hobby-images .hobby-item {
    max-width: 400px;
    max-height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.hobby-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.hobby-images .card {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.hobby-images .hobby-item:hover .card {
    display: block;
}

@media (max-width: 700px) {
    .hobby-images {
        justify-content: center;
    }

    .hobby-images .hobby-item {
        max-width: calc(33.33% - 20px);
    }
}
.box {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
}

/* Menghilangkan tanda titik list */
.box ul {
    list-style: none;
    padding: 0;
}

/* Style untuk label */
.box ul li {
    margin-bottom: 10px;
    color: #555; /* Warna teks */
    font-size: 16px;
    line-height: 1.6;
}

/* Style untuk isi */
.box ul li::before {
    content: "";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.image {
    max-width: 100%;
    height: auto;
}

.flexone {
    flex-basis: calc(30% - 20px);
}

.flextwo {
    flex-basis: calc(70% - 20px);
}
.flexthree {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.flexthree article {
    text-align: center;
}

.flexthree h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.flexthree p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}
.flexfour {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.flexfour article {
    text-align: center;
}

.flexfour h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.hobby-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.hobby-images img {
    width: calc(33.33% - 20px); /* Adjust the width according to your preference */
    border-radius: 5px;
}

@media (max-width: 768px) {
    .hobby-images img {
        width: calc(50% - 20px); /* Adjust the width for smaller screens */
    }
}
/* Footer styles */
footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: black;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

/* Media query for small screens */
@media(max-width: 768px) {
    header nav ul {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    main .box {
        width: 100%;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }

    #toggle-menu:checked ~ ul {
        display: flex;
    }
}
/* Menu dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    bottom: 52%;
    left: 0;
    background-color: #333;
    width: 100%;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
#home-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.slider-item {
    position: relative;
    overflow: hidden;
}

.slider-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.slider-item .img {
    height: 500px; /* Sesuaikan tinggi gambar dengan kebutuhan Anda */
    background-size: cover;
    background-position: center;
}

.slider-item .text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    color: #fff;
}

.slider-item .subheading {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
    display: block;
}

.slider-item .btn-primary,
.slider-item .btn-outline-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-right: 10px;
}

.slider-item .btn-primary:hover,
.slider-item .btn-outline-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}
/* CSS untuk slider */
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%; /* Mengatur lebar gambar menjadi 100% dari lebar kontainer */
    height: auto; /* Menjaga aspek rasio gambar */
}
/* CSS untuk tombol navigasi */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.box.flexfive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.flexfive article {
    text-align: center;
    margin: 0 20px; /* Add margin between articles */
}

.round-image {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.progress-circle {
    transform: rotate(-90deg);
    transform-origin: center;
}

.progress-bar-bg {
    fill: none;
    stroke-width: 10;
}

.progress-bar {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 0;
    transition: stroke-dasharray 1s ease;
    stroke: #007bff; /* Ensure the stroke color is set to blue */
}

.round-image img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.progress-label {
    font-size: 18px;
    color: #333;
}
.box.flexsix {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.box.flexsix article {
    text-align: center;
    margin: 0 20px;
    flex: 0 1 calc(40% - 20px);
}

.hopes-image {
    text-align: center;
}

.hopes-image img {
    max-width: 100%;
    height: auto;
}
.box.flexseven {
    width: 100%;
    box-sizing: border-box;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.flexeight {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* Untuk mengatur rasio aspek video (tinggi:lebar) */
}

/* Style untuk video */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box.flexnine {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100%; /* Menyesuaikan tinggi parent container */
}

.box.flexnine iframe {
    width: 80%; /* Atur lebar iframe */
    height: 400px; /* Atur tinggi iframe */
}


